:root{
    --pink: #e509d3da;
    --preta: #141414;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* elementos base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 10px;
    color: var(--pink);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:var(--pink);
}

/* item principal*/

body .item-principal .container{
    margin-left: 10px;
    
    background-size: contain;
    
    
}

.item-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/lavie3.jpg');

    height: 880px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px ;
    
}

.titulo{
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    margin-right: 15px;
    padding: 15px;
    font-size: 14px;

    cursor: pointer;
}

.botao:hover{
    background-color: white;
    color: black;
    transition: .3s ease all;
    
}

.botao i{
    margin-right: 5px;
}