:root{
    --pink: #e509d3da;
    --preta: #141414;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* elementos base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}



header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 10px;
    color: var(--pink);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:var(--pink);
}

/* item principal*/

body .item-principal .container{
    margin-left: 10px;
    
    background-size: contain;
    
    
}

.item-principal{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/lavie0.jpg');

    height:800px;

    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item-principal .container{
    
    width: 70%;
    
}

.titulo{
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Gabriola Regular', Courier, monospace;
}

.titulo-geral{
    margin-left: 880px;
    font-size: 50px;
    color: rgb(213, 216, 41);
    font-family:'Monotype Corsiva', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    margin-right: 15px;
    padding: 15px;
    font-size: 14px;

    cursor: pointer;
}

.botao:hover{
    background-color: white;
    color: black;
    transition: .3s ease all;
    
}

.botao i{
    margin-right: 5px;
}

.box-itens{
    height: 300px;
    width: 100%;
    display: block;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%);
}

.carrosel-item{
    margin-top: 5px;
    
}

.preco{
    margin: 10px;
}

.botaovoltar{
    width: 100px;

    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    margin-left: 900px;
    padding: 15px;
    font-size: 16px;
    
    
    cursor: pointer;
}

.botaovoltar:hover{
    background-color: white;
    color: black;
    transition: .3s ease all;
}

.perfumaria-principal{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/perfume.jpg');
    background-size: cover;
}

.cabelo-principal{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/cabelo.jpg');
    background-size: cover;
}

.maquiagem-principal{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/maquiagem.jpg');
    background-size: cover;
}

.corpo-principal{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/corpo.jpg');
    background-size: cover;
}